// Google Fonts' IBM Plex Sans.
// Usage: font-family: 'IBM Plex Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

// Global styles.

*, p, a, button {
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  padding: 7px 0 14px;
}

button, a.button {
  display: inline-block;
  padding: 13px;
  text-align: center;
  width: 160px;
  height: 56px;
  border: 2px solid black;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  + button,
  + a.button {
    margin-left: 16px;
  }
  img {
    margin-bottom: -6px;
    margin-right: 6px;
  }
  @media only screen and (max-width: 320px) {
    padding: 15px;
    img {
      display: none;
    }
  }
}

body:before {
  // Add a fake frame to the page.
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 20px solid white;
  pointer-events: none;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}

/* body:after {
  // Add a shadow to the frame
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 21px solid rgba(black, 0.04);
  pointer-events: none;
} */

// Main: Background video and logo.

main {}

h1 {
  position: fixed;
  z-index: 2;
  top: 25%;
  left: 50%;
  width: 256.5px;
  height: 62px;
  margin-left: -128.25px;
  margin-top: -31px;
  background-size: 256.5px 62px;
  color: transparent;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  line-height: 50px;
  @media only screen and (-webkit-min-device-pixel-ratio: 1) {
    background-image: url('/images/logo-1x.png');
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url('/images/logo-2x.png');
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    background-image: url('/images/logo-3x.png');
  }
  @media only screen and (min-width: 350px) {
    width: 350px;
    height: 85px;
    margin-left: -175px;
    margin-top: -42.5px;
    background-size: 350px 85px;

  }
  @media only screen and (min-width: 850px) {
    top: 50%;
    width: 513px;
    height: 124px;
    margin-left: -256.5px;
    margin-top: -62px;
    background-size: 513px 124px;
  }
}

video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 60vh;
  pointer-events: none;
  @media only screen and (min-width: 700px) {
    height: 100vh;
  }
}

// Aside: Bio snippet and CTAs.

aside {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 20px;
  padding: 20px 20px 42px 20px;
  background-color: white;
  // box-shadow: 1px -1px 0 rgba(black, 0.04);
  @media only screen and (min-width: 700px) {
    width: 380px;
    left: 20px;
    right: auto;
    padding-left: 0;
  }
  img {
    @media only screen and (max-width: 320px) {
      display: none;
    }
  }
  button, a.button {
    float: left;
    width: 47%;
    + button,
    + a.button {
      float: right;
    }
  }
}

// Section: Bio and price list.

section {
  display: none; // To show using JavaScript.
}

// Footer: Copyright.

footer {
  position: fixed;
  z-index: 6;
  bottom: 20px;
  left: 20px;
}
