// Google Fonts' IBM Plex Sans.
// Usage: font-family: 'IBM Plex Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

// Global styles.

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button, input, textarea, select, option,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  @media only screen and (min-width: 700px) {
    font-size: 16px;
    line-height: 24px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h1 {
 font-size: 24px;
 text-transform: none;
 letter-spacing: 0;
 font-weight: 400;
 margin: 0 0 12px 0;
 line-height: 125%;
 @media only screen and (min-width: 700px) {
  font-size: 32px;
  margin: 8px 0 19px 0;
 }
 &:after {
  content: "";
  display: none;
  width: 328px;
  height: 0px;
  border-bottom: 1.5px dashed black;
  position: relative;
  left: 24px;
  top: 30px;
  @media only screen and (min-width: 700px) {
    display: block;
  }
 }
 br {
  @media only screen and (max-width: 699px) {
    display: none;
  }
 }
}

p {
  padding: 4px 0 4px;
  @media only screen and (min-width: 700px) {
    padding: 6px 0 6px;
  }
}

a {
  font-weight: 600;
  border-bottom: 1.5px solid rgba(black, 0.2);
  display: inline-block;
  height: 22px;
  font-size: inherit;
}

small {
  font-size: 90%;
  opacity: 0.7;
  line-height: 125%;
  a {
    font-weight: normal;
  }
}

button, a.button {
  cursor: pointer;
  display: inline-block;
  padding: 9px;
  text-align: center;
  color: white;
  width: 160px;
  height: 42px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: black;
  margin-top: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  border-radius: 9px;
  + button,
  + a.button {
    margin-left: 16px;
  }
  img {
    display: inline-block;
    margin-bottom: -4.5px;
    margin-right: 6px;
  }
  @media only screen and (max-width: 320px) {
    padding: 10px;
    img {
      display: none;
    }
  }
}

table {
  margin: 12px 0px;
  th {
    font-weight: 600;
    text-align: left;
  }
  td {
    padding: 2px 12px 2px 0px;
    vertical-align: middle;
  }
  a {
    font-weight: normal;
  }
  tbody + thead tr th {
    padding-top: 12px;
  }
}

body:before {
  // Add a fake frame to the page.
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 20px solid white;
  pointer-events: none;
  @media only screen and (max-width: 700px) {
    display: none;
  }
}

body {
  &.ready {
    #loading-mask {
      opacity: 0;
    }
    video {
      opacity: 1;
    }
  }
}

// For Japanese text.
.ww {
  display: inline-block;
}

// Main: Background video and logo.

@keyframes fade-in-and-out {
  0%   { opacity: 0;}
  4%   { opacity: 1;}
  66%  { opacity: 1;}
  100% { opacity: 0;}
}

#loading-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 60vh;
  filter: blur(20px);
  animation: fade-in-and-out 5s;
  animation-fill-mode: both;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  @media only screen and (min-width: 700px) {
    height: 100vh;
  }
}

video {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  width: 100vw;
  height: 60vh;
  transition: opacity 0s linear 1s;
  @media only screen and (min-width: 700px) {
    height: 100vh;
  }
}

// Aside: Bio snippet and CTAs.

aside {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 20px 42px 20px;
  background-color: white;
  @media only screen and (min-width: 700px) {
    width: 380px;
    left: 20px;
    right: auto;
    padding-left: 0;
    padding-bottom: 62px;
  }
  img {
    display: none;
    @media only screen and (min-width: 700px) {
      display: block;
    }
  }
  button, a.button {
    float: left;
    width: 47%;
    + button,
    + a.button {
      float: right;
    }
  }
}

// Section: Bio and price list.

section#about {
  display: none; // To be shown using JavaScript.
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-color: white;
  z-index: 100;
  pointer-events: none;
  // opacity: 0;
  padding: 100px 20px;
  box-shadow: 0 500px 0 white;
  // transition: opacity 0.48s ease-out;
  @media only screen and (min-width: 1257px) {
    padding: 100px 25px;
  }
  &.visible {
    // opacity: 1;
    pointer-events: inherit;
  }
  main {
    @media only screen and (min-width: 900px) {
      position: absolute;
      top: 100px;
      left: 50%;
      width: 100%;
      margin-left: -50%;
      padding: 25px;
    }
    @media only screen and (min-width: 1400px) {
      padding: 25px 150px;
    }
  }
  article {
    width: 100%;
    max-width: 480px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: 900px) {
      float: left;
      margin-bottom: 0;
      max-width: inherit;
    }
  }
  article#bio {
    @media only screen and (min-width: 900px) {
      width: 25%;
      padding-right: 30px;
    }
    @media only screen and (min-width: 1400px) {
      width: 33%;
    }
  }
  article#price-list {
    @media only screen and (min-width: 900px) {
      width: 50%;
      padding-right: 0;
    }
    @media only screen and (min-width: 1400px) {
      width: 33%;
    }
    table {
      width: 100%;
      float: left;
      @media only screen and (min-width: 900px) {
        width: 50%;
      }
      td + td {
        text-align: right;
        padding-right: 0;
        @media only screen and (min-width: 900px) {
          padding-right: 30px;
        }
      }
    }
    small {
      clear: left;
      display: block;
      padding-right: 30px;
    }
  }
  article#portrait {
    padding-right: 0;
    @media only screen and (min-width: 900px) {
      width: 25%;
    }
    @media only screen and (min-width: 1400px) {
      float: left;
      clear: inherit;
      margin: 0;
      width: 33%;
    }
    img {
      width: 100%;
      height: auto;
      padding-bottom: 6px;
    }
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    padding: 10px;
    background-color: white;
    transition: box-shadow 0.12s ease-out;
    box-shadow: 0 0 10px rgba(black, 0);
    &.elevated {
      box-shadow: 0 0 10px rgba(black, 0.2);
    }
  }
  button {
    width: 50px;
    height: 50px;
    background-size: 26px 26px;
    background-color: transparent;
    color: transparent;
    font-size: 0;
    @media only screen and (-webkit-min-device-pixel-ratio: 1) {
      background-image: url('/images/icon-close-1x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: url('/images/icon-close-2x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
      background-image: url('/images/icon-close-3x.png');
    }
  }
}

// Footer: Copyright.

footer {
  position: fixed;
  z-index: 6;
  bottom: 20px;
  left: 20px;
  height: 22px;
}

// Japanese locale.

body.ja {
  button, a.button {
    letter-spacing: 0px;
    font-weight: 600;
  }
}
