---
title: Tatsuro Ninagawa • Hair stylist in London, UK
---

<main>

  <h1>
    Tatsuro Ninagawa
  </h1>

  <span id="loading-mask"></span>

  <video
    autoplay
    loop
    muted
    playsinline
    width="1920"
    height="1080"
    poster="/images/cutting-video-still-7.jpg"
  >
    <!-- <source src="/videos/cutting-video-manifest.mpd"> -->
    <source src="/videos/cutting-video-1280x720-1500k.mp4"  type="video/mp4" >
    <source src="/videos/cutting-video-1280x720-1500k.webm" type="video/webm">
  </video>

</main>

<aside>
  <img
    src="/images/icon-scissors-1x.png"
    width="20"
    height="20"
    srcset="/images/icon-scissors-1x.png 1x,
            /images/icon-scissors-2x.png 2x,
            /images/icon-scissors-3x.png 3x"
  >
  <p>
    Professional hairstylist at Shunji in London, UK. Specialized in asian and caucasian hair with the “Sassoon Cut” styling technique.
  </p>
  <!-- <a href="">Bio & Price List</a> -->
  <a
    class="button"
    href="http://instagram.com/i.am.tatsuro"
    target="_blank"
  >
    <img
      src="/images/icon-instagram-1x.png"
      width="20"
      height="20"
      srcset="/images/icon-instagram-1x.png 1x,
              /images/icon-instagram-2x.png 2x,
              /images/icon-instagram-3x.png 3x"
    >
    Follow
  </a>
  <a
    class="button"
    href="mailto:tatsurooo1003@gmail.com"
  >
    <img
      src="/images/icon-email-1x.png"
      width="20"
      height="20"
      srcset="/images/icon-email-1x.png 1x,
              /images/icon-email-2x.png 2x,
              /images/icon-email-3x.png 3x"
    >
    Email
  </a>
</aside>

<section>

  <article>
    <h2>Bio</h2>
    <p>
      Tatsuro Ninagawa started his career when he was 18 years old at MINX which is one of the most famous beauty salons in Japan. He moved his second phase to Shunji Covent Garden in central London from 2019.
    </p>
    <p>
      Since he has experience in two big global cities, his technique has been specialised to make you look more attractive by utilising different techniques depending on your hair textures. “Sassoon Cut” is one of his cutting techniques for people who have very soft hair mainly in Europe. He knows how to make Asian hair look more beautiful as well.
    </p>
    <p>
      Taking your advantage is what he does. Your features, face frame and your hair type.
    </p>
    <p>
      In order to commit to fit your hairstyle with yourself perfectly, a personal colour diagnosis method is used when he finds your best colour. He is dedicated to creating gorgeous highlights and ”harmonized” natural colours for you.
    </p>
    <table>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </article>

  <article>
    <h2>Price List</h2>
    <table>
      <!-- ... -->
    </table>
  </article>

  <img src="">

  <button>Close</button>

  <footer>
    Website, video and photography by <a href="http://nunocoelhosantos.com" target="_blank">Nuno Coelho Santos</a>
  </footer>

</section>

<footer>
  © 2020
</footer>
